.footer-container {
  background-color: black;
  background-image: linear-gradient(140deg, $almostBlack, black, $darkestGrey);
  height: 80px;

  footer {
    padding: 30px;
    padding-left: 50px;
    color: white;
  }
}
