.social-bar {
  padding: 20px;

  width: 20vw;
  min-width: 200px;
  max-width: 400px;

  //position: fixed;
  // bottom: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  flex-direction: row;

  a {
    color: inherit;
  }

  .compensate {
    padding-bottom: 3px;
  }
}
